  <div id="user-nav" name="user-nav" class="pure-u-1-4">
    <nav id="user-menu" href="#" class=""><ul><li><a href="#"><i class="icon-list-ul icon-2x"></i></a>
          <ul class="nested-list">
            <li class="pure-menu-heading"><a>a</a></li>
            <li class="pure-menu-separator"></li>
            <li><a href="#">c</a></li>
            <li><a href="#">d</a></li>
          </ul>
        </li>
          </ul></nav>

  </div>
